.login-page {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.login {
	width: 320px;
	padding: 30px 0px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__input {
	border: none;
	border-bottom: 2px solid #d1d1d4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: 0.2s;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #d4d3e8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 75%;
	color: #4c489d;
	box-shadow: 0px 2px 2px #5c5696;
	cursor: pointer;
	transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6a679e;
	outline: none;
}

.google-login {
	width: 75%;
	padding: 10px;
	text-align: center;
}

.have-account-bottom-line {
	padding: 10px;
}

.navbar--logoWrapper{
    margin-bottom: 120px;
}
