.dashboard--wrapper {
    display: flex;
}

.dashboard--main {
    width: 66.6%;
    display: flex;
    flex-direction: column;
}

.dashboard--recurringExpenses {
    width: 33.3%;
}

.dashboard--totalsSection {
    display: flex;
    justify-content: space-between;
}

.dashboard--totalsCard {
    width: 30%;
    height: 105px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    padding: 0 25px;
}

.walletIcon-container {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--contentWrapper  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.card--heading {
    margin-bottom: 10px;
    color: #929EAE;
    font-weight: 400;
    font-size: 1rem;
}

.card--amount {
    color: #1B212D;
    font-weight: 700;
    font-size: 1.714rem;
}

.dashboard--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard--sectionHeading {
    font-weight: 600;
    font-size: 1.286rem;
}

.dashboard--chartSection, .dashboard--recentSection {
    padding: 20px 25px;
    border: #F5F5F5 solid 1px;
    border-radius: 8px;
    margin: 30px 0 0;
}

.dashboard--link {
    font-size: 1rem;
    color: #29A073;
    text-decoration: none;
}

.dashboard--link svg {
    margin-left: 8px;
}

/* Recent expenses styles */

.recent--table {
    width: 100%;
}

.recent--th {
    text-align: left;
}

