@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&family=Kumbh+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
}

.App {
  display: flex;
}

.mainPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

.content {
  overflow: scroll;
}